<div class="banner">
  <div class="hero1">
    <%= image_tag 'sample_collage.jpg', alt: "profile photo", class: 'collage-photo' %>
  </div>
  <div class="hero2">
    <h3>About Me</h3>
    <p>I have spent a good portion of my life exploring the human psyche from different perspectives</p>
    <p>Links to Social Networks</p>
  </div>
</div>
