<div class="banner" id="about">
  <div class="about-img">
    <%= image_tag 'pitch.jpg', alt: "profile photo", class: 'collage-photo' %>
  </div>
  <div class="about-text">
    <h3>About Me</h3>
    <p>I'm Rashad, a former English teacher with years of experience as a live music event organizer. Being able to help both students and musicians in ways to grow towards their own potential has always been a great motivator in my work.
    <br>
    <br>
    I now have the same joy helping family and friends with the UX of their businesses.
    <br>
    <br>
    When not working I enjoy playing sports, games, traveling and doing musical activities such as hosting and DJing.</p>
    <div class="about-links">
      <a href="https://www.instagram.com/barret_wallace/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/rashaddupaty/"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
