<div class="about" id="about">
  <div class="about-text">
    <h2>About Me</h2>
    <div class="about-textbox">
      <p class="about-details">I'm Rashad, a freelance dev with years of experience connecting with new people around the world.
      <br>
      <br>
      Since my days as a school teacher, I have always loved getting to know new people and finding ways to help them out where I can.
      <br>
      <br>
      When not working I enjoy playing sports, games, traveling and hosting music events while Djing.</p>
    </div>
    <div class="about-links">
      <a href="https://www.instagram.com/barret_wallace/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/rashaddupaty/"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
    <div class="about-img">
    <div class="collage-box">
        <%= image_tag 'pitch.jpg', alt: "profile photo", class: 'collage-primary' %>
        <div class="secondary-collage">
          <%= image_tag 'dj.jpg', alt: "profile photo", class: 'collage-secondary1' %>
          <%= image_tag 'listen.jpg', alt: "profile photo", class: 'collage-secondary2' %>
        </div>
    </div>
  </div>
</div>
