<div class="banner">
  <div class="hero1">
    <%= image_tag 'events.jpg', alt: "profile photo", class: 'collage-photo' %>
  </div>
  <div class="hero2">
    <h3>About Me</h3>
    <p>I'm Rashad, a former English teacher with years of experience as a live music event organizer. Being able to help both students and musicans in ways to grow towards their own potential has always been a great motivator in my work.
    <br>
    <br>
    Since graduating from LeWagon Tokyo I have taken this energy towards helping my family and friends improve upon the user experiences of their businesses.
    <br>
    <br>
    When not working I enjoy playing sports, games, traveling and doing musical activities such as hosting and DJing.</p>
    <p>Links to Social Networks</p>
  </div>
</div>
