<div class="banner">
  <div class="hero-header">
    <h1 class="title-main">Rashad DuPaty</h1>
    <h2>Web Developer</h2>
    <div class="about-links">
      <a href="https://www.linkedin.com/in/rashaddupaty/"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/Fire-Bringer"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/barret_wallace/"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="hero-img">
    <%= image_tag 'profile_pic.jpg', alt: "profile photo", class: 'hero-photo' %>
  </div>
</div>
