<div class="hero">
  <div class="hero-img">
    <div class="hero-img-container">
      <%= image_tag 'lwprofile.jpeg', alt: "profile photo", class: 'hero-photo' %>
    </div>
  </div>
  <div class="hero-header">
    <div class="hero-content">
      <h1 class="name">Rashad DuPaty</h1>
      <h2 class="title">Fullstack Web Developer</h2>
      <p class="main-skills">Rails || JavaScript || React || HTML || CSS/SCSS</p>
      <div class="hero-links">
        <a href="https://www.linkedin.com/in/rashaddupaty/"><i class="fab fa-linkedin hero-link"></i></a>
        <a href="https://github.com/Fire-Bringer"><i class="fab fa-github hero-link"></i></a>
        <a href="https://www.instagram.com/barret_wallace/"><i class="fab fa-instagram hero-link"></i></a>
      </div>
    </div>
  </div>
</div>
<hr>
