<div class="banner">
  <div class="hero1">
    <h1 class="title-main">Rashad DuPaty</h1>
    <h2>UX / UI Designer</h2>
  </div>
  <div class="hero2">
    <%= image_tag 'profile_pic.jpg', alt: "profile photo", class: 'hero-photo' %>
  </div>
</div>
