<!--
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Fire-Bringer"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/barret_wallace/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/rashaddupaty/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    rashaddupaty@gmail.com <i class="fa-regular fa-envelope"></i>
  </div>
</div>
-->
