<!-- Start header -->
<header>
    <div class="container">
        <div class="row">
            <div class="brand-name">
                <a href="#" class="logo">RA-Dev</a>
            </div>

            <div class="ham-burger">
                <i class="fa fa-bars"></i>
            </div>

            <div class="navbar">
                <ul>
                    <li><a href="#Home" class="active">Home</a></li>
                    <li><a href="#About">About</a></li>
                    <li><a href="#Services">Services</a></li>
                    <li><a href="#Portfolio">Portfolio</a></li>
                    <li><a href="#Contacts">Contacts</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- End Header -->
