<!--Info Navbar-->
<div class="navigation-bar sticky-top">
  <nav>
    <ul>
      <div class="brand-name">
          <a href="#" class="logo">RA-Dev</a>
      </div>
      <div>
        <li><a class="navi-options" href="https://rashaddupaty.netlify.app">Home</a></li>
      </div>
    </ul>
  </nav>
</div>
