<div class="navigation-bar">
  <nav>
    <ul>
      <div>
        <a class="" href="#">
          <%= image_tag 'blackcat.png', alt: "icon photo", class: 'icon-photo' %>
        </a>
      </div>
      <div>
        <li><a class="navi-options" href="#about">About</a></li>
        <li><a class="navi-options" href="#projects">Projects</a></li>
        <li><a class="navi-options" href="#contact">Contact</a></li>
      </div>
    </ul>
  </nav>
</div>
