<div class="projects-container">
  <div id="projects">
    <h2 class="text-center">Projects</h2>
    <div class="cards d-flex flex-column">
      <% data.projects.each do |project| %>

        <div class="projects">
          <div class="project-img-container">
            <div class="project-img">
              <%= image_tag project.image, alt: "project image", class: "pro-img" %>
            </div>
          </div>
          <div class="project-text-container">
            <div class="project-content">
              <h2 class="project-name"><%= project.name %></h2>
              <h3 class="project-role"><strong>Role:</strong> <%= project.role %></h3>
              <div class="project-text-box">
                <p class="project-details"><%= project.description %></p>
              </div>
              <div class="tech-stack">
                <% if project.rails? %>
                  <i class="devicon-rails-plain-wordmark tech"></i>
                <% end %>
                <% if project.html? %>
                  <i class="devicon-html5-plain-wordmark tech"></i>
                <% end %>
                <% if project.css? %>
                  <i class="devicon-css3-plain-wordmark tech"></i>
                <% end %>
                <% if project.javascript? %>
                  <i class="devicon-javascript-plain tech"></i>
                <% end %>
                <% if project.sql? %>
                  <i class="devicon-azuresqldatabase-plain tech"></i>
                <% end %>
                <% if project.figma? %>
                  <i class="devicon-figma-plain tech"></i>
                <% end %>
              </div>
              <div class="project-links">
                <i class="fa-solid fa-circle-info project-link"></i>
                <% link_to project.github, target: '_blank' do %>
                  <i class="fa-brands fa-github project-link"></i>
                <% end %>
                <% if project.online? %>
                  <% link_to project.url, class: 'globe', target: '_blank' do %>
                    <i class="fa-solid fa-globe project-link"></i>
                  <% end %>
                <% end %>
              </div>

<!--
              <div class="project-links">
                <% link_to project.github, class: 'external-link', target: '_blank' do %>
                  <i class="fa-brands fa-github pro-link"></i>
                <% end %>
                <% if project.online?  %>
                  <% link_to project.url, class: 'external-link pro-link', target: '_blank' do %>
                    <i class="fas fa-external-link-alt"></i>
                  <% end %>
                <% end %>
              </div>
-->



            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
