<div class="row my-5">
  <div class="col-12 d-flex justify-content-center">
    <div id="contact">
    <h2 class="text-center contact-head">Contact Me</h3>
      <div class="d-flex justify-content-center flex-wrap">
        <div class="button-social d-flex flex-column justify-content-center align-items-center fs-1">
          <i class="fa-solid fa-envelope contact-link"></i>
          <%= mail_to "rashaddupaty@gmail.com", "", class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center fs-1">
          <i class="fa-brands fa-github contact-link"></i>
          <%= link_to "", "https://github.com/Fire-Bringer", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center fs-1">
          <i class="fa-brands fa-linkedin contact-link"></i>
          <%= link_to "", "https://www.linkedin.com/in/rashaddupaty/", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
