<div class="row my-5 border border-danger">
  <div class="col-12 d-flex justify-content-center">
    <div id="contact">
    <h2>Contact Me</h3>
      <div class="d-flex justify-content-center flex-wrap">
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-solid fa-envelope"></i>
          <%= mail_to "rashaddupaty@gmail.com", "", class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-github"></i>
          <%= link_to "", "https://github.com/Fire-Bringer", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-linkedin"></i>
          <%= link_to "", "https://www.linkedin.com/in/rashaddupaty/", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
