.about {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  height: 70vh;
}

.about-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 45%;
  padding-left: 1.5rem;
  border: 2px solid red;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 100%;
  width: 45%;
  padding-right: 1.5rem;
  border: 2px solid blue;
}

.about-textbox {
  border: 2px solid green;
  width: 80%;
}

.about-details {
  text-align: end;
  font-size: 0.9rem;
}

.collage-box {
  border-radius: 1rem;
  box-shadow: 6px 6px 29px 1px rgba(0,0,0,0.75);
  width: 75%;
}

.collage-primary {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.secondary-collage {
  display: flex;
  flex-direction: row;
}

.collage-secondary1 {
  width: 50%;
  border-bottom-left-radius: 1rem;
}

.collage-secondary2 {
  width: 50%;
  border-bottom-right-radius: 1rem;
}

.about-links {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.fab {
  color: black;
  font-size: xx-large;
  margin-right: 0.5rem;
}

@media (max-width: 700px){
  .about-img {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .about-text {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
  .collage-photo {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
