.hero {
  height: 60vh;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.hero-img {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr 2rem;
  grid-template-columns: 1fr 3fr 2rem;
}

.hero-header {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr 2rem;
  grid-template-columns: 2rem 3fr 1fr;
}

.hero-img-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: end;
}

.hero-photo {
  width: 75%;
  border-radius: 50%;
  box-shadow: 6px 6px 29px 1px rgba(0,0,0,0.75);
}

.hero-content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 2.5rem;
  font-weight: 500;
}

.title {
  font-size: 2rem;
}

.main-skills {
  font-size: 1.2rem;
  color: grey;
}

p {
  margin-bottom: 0;
}

.hero-link {
  color: black;
  font-size: 2.5rem;
  margin-right: 0.5em;
  margin-top: 1rem;
  box-shadow: 0 3px 6px rgba(0, 17, 166, 0.391);
  border-radius: 0.25rem;
  transition: color 0.5s, transform 0.3s;
  &:hover {
    transform: scale(1.2); /* Zoom in on hover */
    color: #da30a5fb;
  }

  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}
