.banner {
  height: 30vh;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hero1 {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 40%;
}

.hero2 {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 40%;
}

.hero-photo {
  height: 90%;
  border-radius: 50%;
}
