.hero {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.hero-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 80%;
  width: 50%;
  padding-right: 4rem;
  border: 2px solid green;
}

.hero-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 80%;
  width: 50%;
  border: 2px solid purple;
}

.hero-photo {
  max-width: 60%;
  border-radius: 50%;
  box-shadow: 6px 6px 29px 1px rgba(0,0,0,0.75);
}

.fab {
  padding-right: 0.5rem;
}

p {
  margin-bottom: 0;
}

@media (max-width: 700px){
  .hero {
    flex-direction: column;
  }
  .hero-img {
    width: 100%;
    align-items: center;
  }
  .hero-header {
    width: 100%;
    height: 40vh;
    align-items: center;
  }
  .hero-photo {
    width: 50%;
  }
  .main-skills {
    text-align: center;
  }
  .hero-img {
    padding-right: 0;
    max-width: 100%;
    max-height: 80%;
  }
}
