.button-social {
  padding: 0 1rem;
  position: relative;
  font-size: 2rem;
  transition: color 0.5s, transform 0.3s;

  &:hover {
    transform: scale(1.5); /* Zoom in on hover */
    color: rgba(218, 48, 165, 0.984);
  }

  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);;
  }
}

.button-social-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
