.projects-container {
  margin-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}

#projects {
  width: 95%;
}

@media (max-width: 700px){
  .projects-container {
    margin-top: 10rem;
  }
}
