.projects {
  height: 45vh;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.project-img-container {
  width: 85%;
  display: grid;
  grid-template-rows: 1rem 4fr 1rem;
  grid-template-columns: 1fr 5fr 1rem;
}

.project-text-container {
  width: 95%;
  display: grid;
  grid-template-rows: 1rem 4fr 1rem;
  grid-template-columns: 1rem 3fr 1fr;
}

.pro-img {
  width: 95%;
  border-radius: 1rem;
  box-shadow: 6px 6px 29px 1px rgba(0,0,0,0.25);
}

.p-title {
  font-weight: 500;
}

.project-img {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: end;
}

.project-content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-details {
  text-align: start;
  font-size: 1rem;
}

.tech-stack {
  padding-top: 1rem;
}

.tech {
  color: black;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.project-name {
  font-size: 2rem;
  font-weight: bold;
}

.project-link {
  color: black;
  font-size: 2rem;
  margin-right: 1rem;
  box-shadow: 0 3px 6px rgba(0, 17, 166, 0.391);
  border-radius: 50%;
  transition: color 0.5s, transform 0.3s;
  &:hover {
    transform: scale(1.5); /* Zoom in on hover */
    color: rgba(218, 48, 165, 0.984);
  }

  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);;
  }
}

.project-links {
  padding-top: 1rem;
}

.project-role {
  font-size: 1.1rem;
}
