// Specific CSS for your home-page
body {
  margin: 0;
  padding: 0;
}

.project-link{
  color: #da30a5fb;
  &:hover {
    color: black;
  }
}

.info-arrow{
  color: #da30a5fb;
  &:hover {
    color: black;
  }
}

.navi-options, .nav-link{
  font-family: "Quicksand", "Helvetica", "sans-serif";
  font-weight: bold;
}
