.info-me {
  padding-top: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.info-img, .info-text-container {
  width: 30vw;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

.info-img-content {
  box-shadow: 6px 6px 29px 1px rgba(0,0,0,0.75);
  border-radius: 1rem;
}

.carousel-control-prev, .carousel-control-next {
  border-radius: 2rem;
  background-color: rgba(218, 48, 165, 0.984);
  width: 2.5rem;
  height: 2.5rem;
  align-self: center;
}

.info-content {
  height: 90%;
  display: flex;
  align-items: center;
}

.info-img-content {
  display: flex;
  align-items: center;
}

.odd-info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  height: 45vh;
}

.even-info-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 2rem;
  height: 45vh;
}

.info-textbox {
  width: 100%;
}


@media (max-width: 1440px){
  .info {
    height: 40vh;
  }
  .info-details {
    font-size: 1rem;
  }
  .info-me {
    font-size: 1.5rem;
  }
  .info-link {
    font-size: 2rem;
  }
}

@media (max-width: 1199px){
  .info-link {
    font-size: 2rem;
  }
  .info-details {
    font-size: 0.9rem;
  }
  .info-me {
    font-size: 1.3rem;
  }
  .info {
    height: 45vh;
  }
  .odd-info-container, .even-info-container {
    height: 35vh;
  }
}

@media (max-width: 991px){
  .info-details {
    font-size: 0.8rem;
  }
  .info-text-container {
    grid-template-columns: 2rem 3fr 2rem;
  }
  .info-img {
    grid-template-columns: 2rem 3fr 2rem;
  }
  .info-link {
    font-size: 2rem;
  }
  .info {
    height: 40vh;
  }
}

@media (max-width: 767px){
  .info {
    height: 30vh;
  }
  .info-text-container {
    grid-template-columns: 1rem 3fr 1rem;
  }
  .info-img {
    grid-template-columns: 1rem 3fr 1rem;
  }
  .info-details {
    font-size: 0.7rem;
    line-height: 1.3;
  }
  .info-link {
    font-size: 1.5rem;
  }
  .info-me {
    font-size: 1.4rem;
  }
}

@media (max-width: 700px){
  .odd-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 70vh;
  }
  .even-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 70vh;
  }
  .info-img, .info-text-container {
    width: 70vw;
  }
  .info-details {
    font-size: 1rem;
    text-align: start;
  }
  .info-links {
    justify-content: center;
  }
  .info-link-container {
    width: 4.5rem;
  }
  .info-link {
    font-size: 2rem;
  }
  .info-img-content {
    justify-content: center;
  }
  .info-me {
    font-size: 1.6rem;
  }
  .carousel-control-prev, .carousel-control-next {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 425px){
  .odd-info-container, .even-info-container {
    height: 70vh;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    justify-self: center;
  }
}

@media (max-width: 362px){
  .info {
    height: 65vh;
  }
  .info-me, .p-title {
    font-size: 1.4rem;
  }
  .info-details {
    line-height: 1.2;
  }
  .info-text-container {
    grid-template-rows: 1rem 4fr 0.5rem;
  }
  .info-img {
    grid-template-rows: 0.5rem 4fr 2rem;
  }
}

@media (max-width: 311px){
  .info {
    height: 85vh;
  }
}
